body#my-body {
	font-family: "PT Sans Narrow", Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.header-menu-wrapper {
	z-index: 9;
	width: 100%;
	padding: 5px 0;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 1px 4px rgba(228, 228, 228, 0.95);
}

.header-menu {
	font: 400 18px "PT Sans Narrow", Arial, sans-serif;
	text-transform: uppercase;
}

.header-menu ul.navbar-nav > li > a.active,
.header-menu ul.navbar-nav > li > a:active,
.header-menu ul.navbar-nav > li > a:focus,
.header-menu ul.navbar-nav > li > a:hover {
	color: #e6400c;
	background: inherit;
}

#pre-footer {
	background: #313030;
	color: #b0b0b0;
}
#pre-footer h2{
	font: 400 21px "PT Sans Narrow", Arial, sans-serif;
	margin: 0 0 8px;
	color: #c2c1c1;
	text-transform: uppercase;
}
#pre-footer .container{
	padding: 45px 0 15px 0;
}
#footer {
	background: #272626;
	color: #fff;
	font-size: 12px;
	padding: 15px 0;
}
#partners {
	background: #f6f6f6;
	padding: 17px 0;
	text-align: center;
}

#services {
	min-height: 400px;
}
#contact-us {
	min-height: 400px;
}
#about-us {
	min-height: 400px;
}
#latest-works {
	min-height: 400px;
}